@CHARSET "UTF-8";
#h1 { margin: 30px auto; width: 750px; }
table { 
	margin: 0 auto;
	 }
td { background-size: 95% 95%; 
background-repeat: no-repeat;
background-position: 4px 4px;
}

.p1 { background-image: url(img/p1.jpg); }
.p2 { background-image: url(img/p2.jpg); }
.p3 { background-image: url(img/p3.jpg); }
.p4 { background-image: url(img/p4.jpg); }
.p5 { background-image: url(img/p5.jpg); }
.p6 { background-image: url(img/p6.jpg); }
.p7 { background-image: url(img/p7.jpg); }
.p8 { background-image: url(img/p8.jpg); }
.p9 { background-image: url(img/p9.jpg); }
.p10 { background-image: url(img/p10.jpg); }
.p11 { background-image: url(img/p11.jpg); }
.p12 { background-image: url(img/p12.jpg); }


.btn {
  border: 1px solid black;
  width: 120px;
  height: 120px;
  float: left;
  text-align: center;
  line-height: 120px;
  background-color: #eee;
  
  text-indent: -10000px;
}

.opened {
background: transparent !important;
}